dataset
Pallets
Pallets_detection
Pallets_segment
Pallets-detection.v1i.yolov11
internship_assignment_sample_bag
zed_detect_res
zed_seg_res
runs
*.eps
*.aux
*.log
*.p
*.pkl
*.pt
*.cls
__pycache__
*.synctex.gz
*.npy
*.npz
*.mat
*.gz
*.tiff
*.csv
*.asc
*.mxe
*.bat
*.info
*.jar
*.DS_store
*.html
*.lambdas
*.doc
*.sh
*.pth
*.xml
*.meta
*.json
*.bin
*.pts
*.pt
*.history
*.zip
